@use "../../../styles/variables" as *;

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* CONTENEDOR GENERAL */
.home {
  height: 100%;
  width: 100%;
  position: relative;
}

/* TEXTO ARRIBA */
.content {
  position: relative;
  z-index: 2;
  padding: 12vh 0vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  @media only screen and (max-width: 800px) {
    align-items: flex-start;
  }

  h1 {
    max-width: 800px;
  }
  p {
    margin-bottom: 1vh;
  }
}

/* CONTENEDOR DE IMAGEN */
.imageContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 65vh;
  overflow: hidden;
  z-index: 1;
  border-radius: 5vh;
}

/* IMAGEN QUE SE ESCALA */
.image {
  width: 100%;
  height: 100%;
}
