@use "../../../styles/variables" as *;
.work {
  height: auto; // altura propia
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 3vh;

  }

  .bottom {
    display: flex;
    flex-direction: row;
    gap: 0vh;
    align-items: stretch;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3vh;
      flex: 0 0 55%;
      margin-right: 3vh;

      @media (max-width: 800px) 
      {
        margin-right: 0vh;
      }

      .topleft {
        display: flex;
        flex-direction: column;
        background-color: $color-grey-bg;
        padding: 4vh;
        border-radius: 5vh;
        width: 100%;
        align-items: flex-start;
        gap: 5vh;
        padding-bottom: 10vh;
        @media (max-width: 800px) 
        {
          padding: 4vh 3vh;
        }
      }

      .bottomleft {
        display: flex;
        flex-direction: column;
        background-color: $color-blue;
        padding: 4vh;
        border-radius: 5vh;
        width: 100%;
        align-items: flex-start;

        @media (max-width: 800px) 
        {
          padding: 4vh 2vh;
        }

        .itemscontainer {
          display: flex;
          flex-direction: column;
          gap: 2vh;
          margin-top: 6vh;
          margin-bottom: 6vh;

          .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3vh;

            p {
              color: $color-white-font;
            }
          }
        }
      }
    }

    .right {
      flex: 0 0 43%;
      position: relative; // 👈 necesario para Image fill
      align-self: stretch;
      border-radius: 5vh;
      overflow: hidden; // para respetar bordes

      
    
    }
  }

  .openButton {

    width: 5vh; 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.75);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(0.5vh);
    }
  }
}
