@use './variables' as *;

body {
  font-family: $font-primary;
}

//estilizar
.h1 {
  font-family: $font-primary;
  font-size: 8vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 600;
}

//ok
.h2 {
  font-family: $font-primary;
  font-size: 4.5vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 400;

  @media (max-width: 800px) {
    font-size: 3.5vh;
  }
}

//nombre en review
.subtitle {
  font-family: $font-primary;
  font-size: 2.5vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 300;
  @media (max-width: 800px) {
    font-size: 2vh;
  }

}

.form-message{
  font-family: $font-primary;
  font-size: 3vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 400; 
}

//estilizar
.text {
  font-size: 2vh;
  line-height: 100%;
  color: $color-blue;
  span{
    font-weight: 600;
  }

  @media (max-width: 800px) {
    font-size: 2vh;
  }
}
