@use './variables' as *;

body {
  font-family: $font-primary;
}

//estilizar
.h1 {
  font-family: $font-primary;
  font-size: 8vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 600;
}

//ok
.h2 {
  font-family: $font-primary;
  font-size: 4.5vh;
  line-height: 100%;
  color: $color-blue;
  font-weight: 400;
}

//estilizar
.subtitle {
  font-family: $font-primary;
  font-size: 4vh;
  line-height: 100%;
  color: $color-blue;
}

//estilizar
.text {
  font-size: 2vh;
  line-height: 100%;
  color: $color-blue;
  span{
    font-weight: 500;
  }
}
