/* Colors */
$color-blue: #28374a;
$color-white-bg: #fffbf5;
$color-grey-bg: #f8f3ee;
$color-white-font: #f5f4eb;
$color-grey-font: #bcbab4;

/* Fonts */
$font-primary: var(--font-inter);

/* Sizes */
$max-width: 95%;
$section-padding: 10vh;
$container-padding: 3vh;
