@use "../src/styles/variables" as *;;
@use "../src/styles/typography";


html {
  scroll-behavior: smooth;
  background-color: $color-white-bg;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
