@use "../../../styles/variables" as *;
.faqs {
  min-height: 80vh; // altura propia
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  
    > :last-child {
      flex-shrink: 0;
    }
  }

  .bottom {
    .faqscontainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
