@use "../../../styles/variables" as *;


.card {
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4vh;
  border-radius: 3vh;
  position: relative;
}
.header {
  h3 {
    font-size: 3vh;
    margin-bottom: 0.5vh;
    font-weight: 400;
  }

  h4 {
    font-size: 1.8vh;
    opacity: 0.8;
    font-weight: 400;
    color:#abaaa6;
  }
}
.text {
  margin-top: 20vh;
  font-size: 2vh;
  line-height: 130%;
  max-width: 90%;
}

.openButton {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: inherit;
  font-size: 2.5vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: translateX(4px);
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.white {
  background-color: $color-grey-bg;
  color: $color-blue;
}

.blue {
  background-color: $color-blue;
  color: $color-white-font;
}

.button {
  margin-top: 2vh;
}
