@use "../../../styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vh;
  border-radius: 4vh;
  background-color: $color-blue;
  font-size: 1.7vh;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  color: $color-white-font;
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: $color-white-font;
    color: $color-blue;
  }

  &:active {
    transform: translateY(0);
  }

  .text {
    margin-right: 0.8rem; // espacio entre texto y icono
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    background-color: $color-white-font;
    position: relative;

    /* Flecha a 45° */
    transform: rotate(-45deg);

    // PALITO
    &::before {
      content: "";
      position: absolute;
      width: 0.9em;
      height: 2px;
      background-color: $color-blue;
      left: 0.45em;
    }

    // PUNTA (alineada con el palito)
    &::after {
      content: "";
      position: absolute;
      width: 0.35em;
      height: 0.35em;
      border-top: 2px solid $color-blue;
      border-right: 2px solid $color-blue;
      right: 0.35em;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
