@use "../../../styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vh;
  border-radius: 4vh;
  background-color: $color-blue;
  font-size: 1.7vh;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  color: $color-white-font;
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: $color-white-font;
    color: $color-blue;
  }

  &:active {
    transform: translateY(0);
  }

  .text {
    margin-right: 0.8rem; // espacio entre texto y icono
  }



  .icon {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;


    background-color: rgba(255, 255, 255, 0.75);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, background-color 0.2s ease;
  color:$color-blue;
  
    
  }
}
