@use "../../../styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vh;
  border-radius: 4vh;
  background-color: $color-white-font;
  font-size: 1.7vh;
  border: none;
  white-space: nowrap;
  color: $color-blue;
}

.withBorder {
  border: 0.2vh solid $color-blue;
  background-color: transparent;
}