@use "../../../styles/variables" as *;
.about {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  color: $color-white-font;
  align-items: stretch;
  width: 80%;

  .left {
    border-radius: 5vh;

    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: 5vh;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 8vh;
    gap: 6vh;

    p {
      line-height: 120%;
    }
  }

  .right button {
    align-self: flex-start; 
  }

  @media (max-width: 1000px) {
   
      flex-direction: column;
      width: 100%;
      gap: 4vh;
  

    .left {
      width: 100%;
      min-height: 40vh;
    }

    .right {
      padding: 4vh 2vh;
      gap: 5vh;

 
    }
  }
}
