@use "../../../styles/variables" as *;
.contact {
  display: flex;
  flex-direction: column;

  .top {
    margin-bottom: 10vh;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;


    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      gap: 3rem;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    @media (max-width: 800px) {
      flex-direction: column;

      .right {
        width: 100%;
        margin-top: 5vh;
      }
      .left {
        width: 100%;
      }
    }
  }
}
