@use "../../../styles/variables" as *;
.card {
  background-color: transparent;
  overflow: hidden;
  border: none;
  border-bottom: 0.5px solid #8c8885;
  z-index: 10000;
  padding: 0vh 2vh;

  @media only screen and (max-width: 1000px) {
    width: 100%;
    height: auto;
    margin: 1vh 0vh;
  }

  &:last-child {
    margin-bottom: 0;
  }
  th {
    padding-top: 2.4vh;
    padding-bottom: 2.4vh;
  }

  .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.3s;
    height: 8vh;   

    p {
      font-size: 2.5vh;
      line-height: 130%;
    }

    .icon {
        width: 5vh;
        height: 5vh;
        border: 1px solid #F5F4EB;
        background-color: #F5F4EB;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      
        span {
          font-size: 4vh;
          line-height: 1;
          color: $color-blue;
          font-weight: 200;
          user-select: none;
        }
      }
  }

  .motionContent {
    overflow: hidden;
  }

  .content {
    padding: 2vh 2vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    p {
      line-height: 130%;
    }
  }
}
