@use "../../../styles/variables" as *;
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  border-radius: 5vh;


  @media (max-width: 800px) {
    max-width:97%;
    padding: 0 1vh;
  }
}
